<launch>
  <group ns="rtabmap">
    <node pkg="rtabmap_odom" type="rgbd_odometry" name="rgbd_odometry" output="screen">
      <remap from="rgb/image"       to="/kinect2/qhd/image_color_rect"/>
      <remap from="depth/image"     to="/kinect2/qhd/image_depth_rect"/>
      <remap from="rgb/camera_info" to="/kinect2/qhd/camera_info"/>
      <remap from="rgbd_image"      to="rgbd_image"/> <!-- output -->
      
      <!-- Should be true for not synchronized camera topics 
           (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->
      <param name="approx_sync"       value="false"/> 
      <param name="frame_id" value="base_footprint"/>
      <param name="publish_tf" value="false"/>
      
    </node>
  </group>
</launch>
