<launch>
 <!-- Run the map server --> 
  <node name="map_server" pkg="map_server" type="map_server" args="$(find robot_navigation)/maps/simulation/map_save.yaml"/>
  
  <include file="$(find robot_navigation)/launch/amcl.launch"/>
 <!--- Run AMCL --> 
  <!-- <include file="$(find hector_slam_launch)/launch/tutorial.launch" /> -->
  <!-- move_base -->
  <include file="$(find robot_navigation)/launch/move_base.launch">
  </include>

</launch>   